{% extends '../appointment/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">

    <div class="card shadow-sm p-4" style="width: 350px;">

        <h3 class="text-center mb-3">Login</h3>

        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label>Username</label>
                <input type="text" name="username" class="form-control" required>
            </div>

            <div class="mb-3">
                <label>Password</label>
                <input type="password" name="password" class="form-control" required>
            </div>

            {% if form.errors %}
                <div class="alert alert-danger">
                    Invalid username or password
                </div>
            {% endif %}

            <button class="btn btn-primary w-100 mb-3">Login</button>
            
            <div class="text-center">
                <small class="text-muted">
                    Don't have an account? 
                    <a href="{% url 'register' %}" class="text-primary text-decoration-none">Register here</a>
                </small>
            </div>
        </form>

    </div>

</div>

{% endblock %}