{% extends 'appointment/base.html' %}

{% block title %}Booking View{% endblock %}

{% block content %}
    <div class="container mt-5">
    <div class="card shadow-sm p-4">

        {% if edit_mode %}
            <h3>Edit Booking</h3>

            <form method="POST">
                {% csrf_token %}

                {{ form.as_p }}

                <button class="btn btn-success">Save</button>
                <a href="?edit=false" class="btn btn-secondary">Cancel</a>
            </form>

        {% else %}
            <h3>{{ appointment.patient.first_name }} {{ appointment.patient.last_name }}</h3>
            <p><strong>Doctor:</strong> Dr. {{ appointment.time_slot.doctor.account.first_name }} {{ appointment.time_slot.doctor.account.last_name }}</p>
            <p><strong>Doctor Specialty:</strong> {{ appointment.time_slot.doctor.specialty.name }}</p>
            <p><strong>Appointment Date:</strong> {{ appointment.time_slot.date }}</p>
            <p><strong>Appointment Time:</strong> {{ appointment.time_slot.start_time }} - {{ appointment.time_slot.end_time }}</p>
            <p><strong>Appointment Status:</strong> {{ appointment.appointment_status }}</p>
            <a href="?edit=true" class="btn btn-primary">Edit</a>
        {% endif %}

    </div>
</div>
{% endblock %}